<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Querination | Q & A Website</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

<header class="flex-row">
    <div class="header-content flex-row">
        <a href="#" id="page-title" class="align-center"></a>

        <div class="nav-top flex-row">
            <a href="index.html" class="menuitem"><i class="fas fa-home">&nbsp;Főoldal</i></a>
            <a href="#" class="menuitem align-center"><i class="fas fa-pencil-alt">&nbsp;Új Kérdés</i></a>
            <a href="#" class="menuitem align-center"><i class="fas fa-question">&nbsp;Kérdések</i></a>
            <a href="#" class="menuitem align-center"><i class="fas fa-exclamation-circle">&nbsp;Értesítések</i></a>
        </div>

    </div>
</header>

<main class="flex-row">
    <aside class="sidebar flex-col">
        <div class="sidebar-content">
            <h2>Sidebar</h2>
        </div>
    </aside>
    <div class="main-content">
        <h2>Main content</h2>
    </div>
</main>

<footer class="flex-col">
    <div class="footer-content align-center">
        <h2>Footer</h2>
    </div>
</footer>

</body>
</html>